@model PTPMQL.Models.QuanLiHangGui

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>QuanLiHangGui</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaHangGui" class="control-label"></label>
                <input asp-for="MaHangGui" class="form-control" />
                <span asp-validation-for="MaHangGui" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayGioGuiHang" class="control-label"></label>
                <input asp-for="NgayGioGuiHang" class="form-control" />
                <span asp-validation-for="NgayGioGuiHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrongLuongHangGui" class="control-label"></label>
                <input asp-for="TrongLuongHangGui" class="form-control" />
                <span asp-validation-for="TrongLuongHangGui" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XacNhanHopLe" class="control-label"></label>
                <input asp-for="XacNhanHopLe" class="form-control" />
                <span asp-validation-for="XacNhanHopLe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
